.Cinema{
    color: red;
    font-size: 1.9em;
}

.navbar{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav-item{
    margin: 0 15px;
}

.nav-link{
    color: #000;
    font-size: 1.2em;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

.toolBar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
