.Cinema{
    color: red;
    font-size: 1.8em;
}

.navbar{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav-item{
    margin: 0 15px;
}

.nav-link{
    color: #000;
    font-size: 1.2em;
    text-decoration: none;
}